@import url("https://fonts.google.com/specimen/Alata");
@import url("https://fonts.google.com/specimen/Josefin+Sans");

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);
$hero-image: url("/public/images/desktop/image-hero.jpg");
$hero-image-mobile: url("/public/images/mobile/image-hero.jpg");
// $grid-image1: url("/public/images/desktop/image-deep-earth.jpg");
// $grid-image2: url("/public/images/desktop/image-night-arcade.jpg");
// $grid-image3: url("/public/./images/desktop/image-soccer-team.jpg");
// $grid-image4: url("/public/images/desktop/image-grid.jpg");
// $grid-image5: url("/public/images/desktop/image-from-above.jpg");
// $grid-image6: url("/public/images/desktop/image-pocket-borealis.jpg");
// $grid-image7: url("/public/images/desktop/image-curiosity.jpg");
// $grid-image8: url("/public/images/desktop/image-fisheye.jpg");

// @mixin setBackground($image-url) {
//   background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)),
//     $image-url;
// }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  color: $dark-gray;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1 {
  font-size: 4rem;
  color: $white;
}

h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

p {
  line-height: 3rem;
}
a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  position: relative;
  padding: 6rem 0;
}

button {
  display: inline-block;
  border: 0;
  background: $white;
  color: $black;
  border: 1px solid black;
  padding: 0rem 4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.5rem;
  &:hover {
    background: $black;
    color: $white;
  }
}

.button-mobile {
  margin: 5rem auto;
  padding: 2rem 8rem;
  font-size: 2rem;
  font-weight: normal;
}

.show-mobile {
  display: none;
}
