@import url("https://fonts.google.com/specimen/Alata");
@import url("https://fonts.google.com/specimen/Josefin+Sans");

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

body {
  font-size: 15px;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  color: $dark-gray;
  height: 100%;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: $black;
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  position: relative;
  padding: 0 20px;
}
